---
layout: default
---

<section id="articles">
  {% for post in site.categories.blog limit: 3 %}
    <article class="post">
      <header>
        <span class="metadata">{{ post.date | date: "%B %d, %Y" }}</span>
        <h1>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
      </header>

      <section class="post-body">
        {{ post.excerpt }}
        <a href="{{ post.url }}" class="read-more">Continue reading &rarr;</a>
    </article>
  {% endfor %}

  {% if site.categories.blog | size >= 3 %}
    {% assign archive_url = "/blog/archive.html" %}
    <section class="meta">
      <header><h2><a href="{{ archive_url }}">Archive</a></h2></header>
      Looking for <a href="{{ archive_url }}" class="elusive">archived posts</a>?
    </meta>
  {% endif %}
</section>
